<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="JFS-Webservices">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="cofin-common-util-2.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/cofin-common-util/cofin-common-util">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="cofin-common-variable-2.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/cofin-common-variable/cofin-common-variable">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="JFS-Webservices"/>
        <property name="java-output-path" value="/cofin-endpoint-old/target/classes"/>
    </wb-module>
</project-modules>
