html, body{
	height:100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.btn-blue, .btn-blue:focus {
	background: #1a4c93;
	color: #fff;
	border-radius: 6px;
	padding: 8px 40px;
	margin: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-blue:hover{
	background-color: #13386c;
	color: #fff;
}

.btn-blue:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.modal-header {
	background: #CB0D31;
}

.modal-footer {
	background: #CB0D31;
}

.close {
	color: white;
}

.modal-title {
	color: white;
}

.nav_menu {
	width: 100%;
	position: fixed;
	top: auto;
	z-index: 1;
}

.fix {
	width: 100%;
	position: fixed;
	top: auto;
	z-index: 2;
}

.the-legend {
	border-style: none;
	border-radius: 4px;
	border-width: 0;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	width: auto;
	padding: 0 10px;
	border: 1px solid #e0e0e0;
}

.the-fieldset {
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 10px;
}

.btn-red, .btn-red:focus {
	background: #CB0D31;
	color: #fff;
	border-radius: 6px;
	padding: 8px 40px;
	margin: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-red:hover{
	background-color: #900922;
	color: #fff;
}

.btn-red:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-approve, .btn-approve:focus {
	background: #1abb9c;
	color: #fff;
	border-radius: 6px;
	padding: 5px 25px;
	margin: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-approve:hover{
	background-color: #12876f;
	color: #fff;
}

.btn-approve:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-reject, .btn-reject:focus {
	background: #b7b1b1;
	color: #fff;
	border-radius: 6px;
	padding: 5px 20px;
	margin: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-reject:hover{
	background-color: #918888;
	color: #fff;
}

.btn-reject:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.nav-md.body-jfs {
	background: #fff
}

body.body-jfs.nav-sm {
	background: #fff;
}

.nav_menu {
	background-color: #CB0D31;
}

.body-jfs .left_col {
	background: #CB0D31;
	position: fixed;
	min-height: 100%;
}

.body-jfs.nav-sm .left_col {
	position: absolute;
}

.body-jfs .nav_title {
	background: #CB0D31
}

.body-jfs .nav_menu {
	background: #fff;
	border-bottom: 0;
	box-shadow: 0px 50px 60px 20px rgba(4, 0, 0, 0.11);
}

body.body-jfs .container.body .right_col {
	background: #fff
}

.body-jfs .main_container {
	background: #CB0D31
}

a.site_title img {
	display: inline;
	margin-right: 10px;
}

img.profile_img {
	border-radius: 50%;
	width: 80px;
}

.body-jfs.nav-sm img.profile_img {
	border-radius: 50%;
	width: 50px;
}

.profile_pic {
	width: 100%;
	float: none;
	text-align: center;
	margin-top: 25px
}

.profile_info {
	padding: 10px;
	width: 100%;
	float: none;
	text-align: center;
}

.body-jfs .site_title {
	text-align: center;
}

/*LOGIN*/
.body-login {
	min-height: 100vh;
	background-color: #FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	height: 100%;
}

.login-area {
	display: table-cell;
	vertical-align: middle;
}

.box-login {
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFF;
	background-image:-webkit-linear-gradient(top, #FFFFFF, #cdcdcd);
    background-image:-moz-linear-gradient(top, #FFFFFF, #cdcdcd);
    background-image:-ms-linear-gradient(top, #FFFFFF, #cdcdcd);
    background-image:-o-linear-gradient(top, #FFFFFF, #cdcdcd);
    background-image:linear-gradient(top, #FFFFFF, #cdcdcd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#cdcdcd');
	clear:both;
    padding:30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip:padding;-webkit-background-clip:padding-box; background-clip:padding-box;
    -webkit-box-shadow: 3px 3px 5px #333333;
    -moz-box-shadow: 3px 3px 5px #333333;
    box-shadow: 3px 3px 5px #333333;
    max-width:775px;
}

.box-login img {
	/* margin: auto;*/
	
}

.box-login p {
	text-align: left;
	font-size: 16px
}

.box-login form {
	width: 100%;
	max-width: 400px
}

.box-login form .form-group {
	position: relative;
}

.box-login form input {
	padding-left: 35px;
}

.box-login form i {
	position:absolute;
	top:10px;
	left:10px;
	color:#aaa;
}

.clear-float:before,.clear-float:after {
	content:'\0020';
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

.clear-float:after {
	clear:both;
}

.left {
	float:left !important; 
}

.right { 
	float:right !important; 
}

.grid-size{
	display:inline;
	float:left;
	margin-left:10px;
	margin-right:10px;
	width:700px;
}

.product-logo{
	background-image:url(../../assets/images/HomeCredit.png);
	width:100%; 
	max-width:700px;
	height:200px; 
}

div.box-left{
	margin-top:190px;
	margin-left:15px;
	margin-right:15px;
}

.box-content{
	padding:10px 30px 0 0;
	margin-left:13px;
	margin-top:10px;
}
/*END OF LOGIN*/

/*CONTENT*/
.main-content .breadcrumb {
	background: transparent;
	padding: 0 5px
}

.main-content .breadcrumb li.active {
	color: #1f529c;
	font-weight: 600;
}

.table-jfs {
	border: 0 !important z-index: 3;
}

.table-jfs thead {
	background: #CB0D31;
	color: white;
}

.table-jfs thead th {
	border: 0 !important;
	text-align: center;
	padding: 15px !important
}

.table-jfs tbody td {
	border: 0 !important;
	text-align: center;
}

.row {
	position: relative;
	top: 50px;
}

.table-jfs.table-form-detail tbody td, .table-jfs.table-form-detail thead th
	{
	border: 0 !important;
	text-align: left;
}

.table-jfs tbody td.title-group {
	text-align: left;
	background: #ddd;
	font-weight: 900
}

.table-jfs tbody td.title-group i {
	margin-right: 10px
}

.table-jfs tbody td:first-child, .table-jfs tbody td:nth-child(2) {
	/* text-transform: uppercase;*/
	
}
/*tr.odd {
    background-color: #f4f4f4!important;
}*/
/*END OF CONTENT*/
.table-responsive .dataTables_wrapper .dataTables_filter input {
	box-shadow: none;
	border: 1px solid #d5e6f6;
	padding: 8px 20px;
	font-weight: 600
}

/**
 * Tooltip Styles
 */
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}
/* Hide the tooltip content by default */
[data-tooltip]:before, [data-tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #399;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}
/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 100;
}

.field-link {
	text-decoration: underline;
}

.panel-jfs {
	border: 0;
}

.panel-jfs .panel-heading, .panel-jfs .panel-body {
	padding: 5px;
}

.panel-default.panel-jfs>.panel-heading {
	color: #333;
	background-color: white;
	border-color: transparent;
}

.panel-jfs .nav>li>a {
	padding: 10px 35px;
	background-color: blue;
}

.panel-jfs .nav>li>a {
	padding: 10px 35px;
}

.panel-jfs .nav-tabs>li.active>a, .panel-jfs .nav-tabs>li.active>a:focus,
	.panel-jfs .nav-tabs>li.active>a:hover {
	color: #fff;
	cursor: default;
	background-color: #1a4c93;
	border: transparent;
	border-bottom-color: transparent
}

.panel-jfs .nav>li>a {
	margin-right: 5px;
	padding: 10px 35px;
	border: 1px solid #ccc;
	border-bottom: 0;
	
}

.filter {
	margin: 10px 0;
}

.filter label {
	margin-right: 15px
}

.filter-top {
	margin: 15px 0;
	padding: 0
}

.filter-top p {
	margin: 0
}

.filter-top p span a {
	font-weight: 600;
	color: #1abb9c
}

.select-jfs+.select2-container--default .select2-selection--single .select2-selection__arrow
	{
	height: 37px;
}

a.status {
	color: #1abb9c;
	font-weight: 600;
}

.modal.modal-detail.in .modal-dialog {
	-webkit-transform: translate(0, 20px);
	-ms-transform: translate(0, 20px);
	-o-transform: translate(0, 20px);
	transform: translate(0, 20px);
}

.content-detail {
	background: #fff;
	box-shadow: 0px 1px 9px -2px rgba(204, 204, 204, 0.89);
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 3px;
}

.content-detail p {
	font-size: 13px;
	margin: 0;
	margin-bottom: 10px
}

.content-detail h3 {
	font-size: 13px;
	color: #1a4c93;
	font-weight: 600
}

.content-detail ul {
	padding-left: 20px;
	height: 188px;
	overflow-y: scroll;
}

.modal-detail .modal-header {
	color: #fff;
	padding: 15px;
	border-bottom: 1px solid #1a4c93;
	background: #1a4c93;
	border-radius: 5px 5px 0 0;
}

.modal-detail .modal-title {
	font-size: 14px
}

.new-entry {
	width: 10px;
	height: 10px;
	border-radius: 3px;
	background: #1abb9c;
	margin: 0;
	text-align: center;
}

.update-entry {
	width: 10px;
	height: 10px;
	border-radius: 3px;
	background: #f6de2e;
	margin: 0;
	text-align: center;
}

.delete-entry {
	width: 10px;
	height: 10px;
	border-radius: 3px;
	background: #f8332f;
	margin: 0;
	text-align: center;
}

.legenda {
	margin: 35px 0
}

.legenda tr td {
	padding: 0 !important
}

.legenda ul {
	list-style: none;
	padding: 0
}

.legenda ul li {
	position: relative;
	margin-right: 10px
}

.legenda ul li:first-child {
	font-weight: 900;
	color: #999;
	font-size: 14px
}

.legenda ul li.new:after {
	content: "";
	background: #1abb9c;
	position: absolute;
	right: 0;
	width: 10px;
	height: 10px;
	border-radius: 3px;
}



.legenda ul li.update:after {
	content: "";
	background: #f6de2e;
	position: absolute;
	right: 0;
	width: 10px;
	height: 10px;
	border-radius: 3px;
}

.legenda ul li.delete:after {
	content: "";
	background: #f8332f;
	position: absolute;
	right: 0;
	width: 10px;
	height: 10px;
	border-radius: 3px;
}
/*table.dataTable tbody tr {
    background-color: transparent !important;
}*/
.legenda tr:first-child td {
	font-weight: 900;
	color: #999;
	font-size: 14px
}

.form-group .btn {
	margin-bottom: 0
}

.create-user {
	margin-bottom: 15px
}

.form-creation .form-group {
	display: block;
	margin-bottom: 5px
}

.form-creation .form-group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.button-creation {
	margin: 10px 0 15px
}

.table-nowrap .table-jfs thead th, .table-nowrap .table-jfs tbody td {
	white-space: nowrap;
}

.threshold {
	color: #ef1212;
	font-weight: 900
}

.filter input {
	height: 38px;
	border-radius: 5px;
	border-color: #aaa;
}

.unrequirement {
	background: #f11414
}

input[type=text]{
	border-radius:6px;
}

input[type=search]{
	border-radius:6px;
}

input[type=password]{
	border-radius:6px;
}

select{
	border-radius:6px;
}

textarea{
	border-radius:6px;
}
	
.button-primary, .button-primary:focus {
	font-weight:bold;
    font-size:14px;
    background-color:#e76a00;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#fbbc87), to(#e76a00));
    background-image:-webkit-linear-gradient(top, #fbbc87, #e76a00);
    background-image:-moz-linear-gradient(top, #fbbc87, #e76a00);
    background-image:-ms-linear-gradient(top, #fbbc87, #e76a00);
    background-image:-o-linear-gradient(top, #fbbc87, #e76a00);
    background-image:linear-gradient(top, #fbbc87, #e76a00);
    cursor: pointer;
    border:1px solid #d16000;
    padding:4px 12px;
    float:left;
    text-shadow:1px 1px 5px #666;
    text-decoration:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
	color: #fff;
	border-radius: 6px;
	padding: 8px 40px;
	margin: 0;
    margin-bottom: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbbc87', EndColorStr='#e76a00');
}

.button-primary:active {
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

.tablink{
	background-color:#cccccc;
  	border-top-left-radius:6px;
  	border-top-right-radius:6px;
  	font-weight:bold;
}

.tablink:hover{
  background-color:#8c8c8c;
}

.ui-dialog .ui-dialog-titlebar{
	background-color:#CB0D31;
	color:#FFFFFF;
}

.ui-datepicker{
   background:#CB0D31;
   border:1px solid #555555;
   color:#EEEEEE;
 }