<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b5a8">  <td>18/02/01 16:43:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:id.co.homecredit.jfs.cofin.core.service.upload.FileUploadServiceTest@b3d7190]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@294184992</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/02/01 16:43:52</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:id.co.homecredit.jfs.cofin.core.service.upload.FileUploadServiceTest@b3d7190]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@294184992</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/02/01 16:44:00</td>   <td>7513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:id.co.homecredit.jfs.cofin.core.service.upload.FileUploadServiceTest@b3d7190]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@294184992</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>18/02/01 16:44:00</td>   <td>7685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FileUploadServiceTest.uploadDisbursementBTPN()[pri:0, instance:id.co.homecredit.jfs.cofin.core.service.upload.FileUploadServiceTest@b3d7190]">uploadDisbursementBTPN</td> 
  <td>main@294184992</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/02/01 16:44:29</td>   <td>37006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:id.co.homecredit.jfs.cofin.core.service.upload.FileUploadServiceTest@b3d7190]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@294184992</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/02/01 16:44:29</td>   <td>37366</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:id.co.homecredit.jfs.cofin.core.service.upload.FileUploadServiceTest@b3d7190]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@294184992</td>   <td></td> </tr>
</table>
