<vbox hflex="1" vflex="1" sclass="footer" align="center">
    HCID IT Supporting Tools, Version 1.0-SNAPSHOT Rev. ${buildNumber}
    <a href="mailto:ID.IT.Development@hcg.homecredit.net?Subject=IST%20User" target="_top">&#169; IT Development</a> 
</vbox>
