<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>unlimitedCrypto</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testLaunchStep</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getAllKeys</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testLaunchJob</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sendHtmlEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>countFileRows</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestClass</td>
<td>&nbsp;</td></tr>
</table>
