<h2>Methods that were not run</h2><table>
<tr><td>id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest.getAllKeys</td></tr>
<tr><td>id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest.testLaunchJob</td></tr>
<tr><td>id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest.testLaunchStep</td></tr>
<tr><td>id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest.countFileRows</td></tr>
<tr><td>id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest.sendHtmlEmail</td></tr>
</table>