<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657a99">  <td>18/01/04 13:48:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest@543c6f6d]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673068808</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/01/04 13:48:38</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest@543c6f6d]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673068808</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>18/01/04 13:48:40</td>   <td>2095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BatchBtpnJobTest.unlimitedCrypto()[pri:0, instance:id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest@543c6f6d]">unlimitedCrypto</td> 
  <td>main@673068808</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/01/04 13:48:40</td>   <td>2097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest@543c6f6d]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@673068808</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/01/04 13:48:40</td>   <td>2098</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:id.co.homecredit.jfs.cofin.batch.btpn.main.BatchBtpnJobTest@543c6f6d]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673068808</td>   <td></td> </tr>
</table>
